*{
padding: 0;
margin: 0;
box-sizing: border-box;
color: #1E1E1E;
}

.home{
height: 650px;
width: 100.6%;
background-image: url(https://cdn.discordapp.com/attachments/960174689261588513/960174807675175004/download_2.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
text-align: center;
align-items: center;
}    

#wow{
border-radius: 50%;
margin-top: 100px;
}

h1{
font-size: 54px;
border-radius: 10px;
}

nav{
position: fixed;
height: 70px;
width: 100.6%;
background:#1E1E1E;
justify-content: space-evenly;
align-items: center;
text-align: center;
}
    
nav>a{
font-family: 'Open Sans', sans-serif;
font-size: 22.5px;
padding: 25px;
text-decoration: none;

color: peru;
}
    
nav>a:hover{
font-weight: bold;
color: wheat;
}

.column{
flex-direction: column;
align-items: center;
justify-content: center;
}

.introduction-wow{
width: 270px;
text-align: center;
justify-content: flex-start;
align-items: space-evenly;
align-items: center;
}

.member-names{
    width: 270px;
    text-align: center;
    justify-content: flex-start;
    align-items: space-evenly;
    }

@media only screen and (max-width: 600px){

nav>a{
font-size: 10px;
font-weight: 800;
background-color: wheat ;
padding: 5px;
border-radius: 5px;
}
nav>a:hover{
color:black;
}
}

#members{
height: 650px;
background-image: url(https://cdn.discordapp.com/attachments/960174689261588513/960174808295936100/images_9.jpg);
background-repeat: no-repeat;
background-size: cover;
width: 100.6%;
}

.adjust{
    display: flex;
    flex-direction: row;
}

#e2{
margin-left: 410px;
}

#e3{
    margin-left: 401px; 
}

#f2{
    margin-left: 410px;
    }
    
    #f3{
        margin-left: 401px
    }

#introduction{
    height: 650px;
    background: url(https://cdn.discordapp.com/attachments/960174689261588513/960174807889113108/download_3.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100.6%;
}

#ss{
    text-align: center;
}

#communication{
    height: 240px;
    text-align: center;
    background-image: url(https://cdn.discordapp.com/attachments/960174689261588513/960174808488886392/images_10.jpg);
    background-repeat: no-repeat;
background-size: cover;
width: 100.6%;
}

.wet{
    color: sandybrown;
}

#lol{
    color: wheat;
}

#lal{
    border-radius: 50%;
}

.animation{
    background-image: linear-gradient(burlywood, darkorange);
    height: 10px;
    width: 100px;
margin: auto;
animation: lolol 7s infinite ease-in-out;
}

@keyframes lolol{
    0%{
        width: 100px;
    }

    50%{
        width: 1250px;
    }
}